* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

body:has(.ingredient-modal[open]) {
  overflow-y: hidden;
}

.no-ingredients {
  font-size: 1.2vw;
  margin: 20px;
}
@media (max-width: 1250px) {
  .no-ingredients {
    font-size: 3vw;
  }
}
@media (max-width: 600px) {
  .no-ingredients {
    font-size: 4vw;
  }
}

.no-favorites {
  text-align: center;
  font-size: 1.2vw;
  width: 100%;
  font-family: "helvetica";
}
@media (max-width: 1250px) {
  .no-favorites {
    font-size: 3vw;
  }
}
@media (max-width: 600px) {
  .no-favorites {
    font-size: 4vw;
  }
}

.nav-link {
  text-decoration: none;
  color: #3D5F82;
  margin: 0 20px;
  font-family: "Charm", cursive;
  font-size: 1.5vw;
}
@media (max-width: 1250px) {
  .nav-link {
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  .nav-link {
    font-size: 5vw;
  }
}
.nav-link:hover {
  transform: scale(1.2);
  cursor: pointer;
}

nav {
  background-color: #FFEABC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #3D5F82;
  width: 100%;
}
nav ul {
  margin-right: 20px;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav h1 {
  font-family: "Style Script", cursive;
  font-size: 3vw;
  margin: 0.75rem;
  margin-left: 20px;
  cursor: pointer;
}
@media (max-width: 1250px) {
  nav h1 {
    font-size: 5vw;
  }
}
@media (max-width: 600px) {
  nav h1 {
    font-size: 7vw;
  }
}

.screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 8, 8, 0.24);
}
@media (max-width: 1250px) {
  .screen {
    background-color: rgba(9, 8, 8, 0.4);
  }
}
@media (max-width: 600px) {
  .screen {
    background-color: rgba(9, 8, 8, 0.4);
  }
}

.hero-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFEABC;
}
@media screen and (orientation: landscape) {
  .hero-container {
    justify-content: space-around;
  }
}
.hero-container img {
  width: 100%;
}
@media (max-width: 1250px) {
  .hero-container img {
    height: 100vh;
    object-fit: cover;
  }
}
@media (max-width: 600px) {
  .hero-container img {
    font-size: 7vw;
  }
}
.hero-container h2 {
  position: absolute;
  top: 20%;
  color: white;
  font-size: 4vw;
  font-family: "Charm", cursive;
  font-style: normal;
}
@media (max-width: 1250px) {
  .hero-container h2 {
    font-size: 6vw;
  }
}
@media (max-width: 600px) {
  .hero-container h2 {
    font-size: 7vw;
    text-align: center;
  }
}
@media screen and (orientation: landscape) {
  .hero-container h2 {
    font-size: 4vw;
  }
}
.hero-container p {
  position: absolute;
  font-size: 2vw;
  text-align: center;
  width: 70%;
  color: white;
}
@media (max-width: 1250px) {
  .hero-container p {
    font-size: 7vw;
  }
}
@media (max-width: 600px) {
  .hero-container p {
    font-size: 8vw;
  }
}
@media screen and (orientation: landscape) {
  .hero-container p {
    font-size: 4vw;
  }
}
.hero-container button {
  position: absolute;
  bottom: 20%;
  padding: 10px;
  background-color: #3D5F82;
  color: white;
  font-size: 3rem;
  border-radius: 8px;
  border-style: none;
  transition: 1.1s;
}
.hero-container button:hover {
  cursor: pointer;
}
@media (max-width: 1250px) {
  .hero-container button {
    font-size: 7vw;
  }
}
@media (max-width: 600px) {
  .hero-container button {
    font-size: 8vw;
  }
}
@media screen and (orientation: landscape) {
  .hero-container button {
    font-size: 5vw;
  }
}

.recipes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFEABC;
  min-height: 100%;
}
.recipes-container .my-recipes, .recipes-container .community-recipes {
  text-align: center;
  width: 90%;
}
.recipes-container .my-recipes button, .recipes-container .community-recipes button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1.5vw;
  color: #3D5F82;
  font-family: "Lato", sans-serif;
}
.recipes-container .my-recipes button:hover, .recipes-container .community-recipes button:hover {
  cursor: pointer;
}
@media (max-width: 1250px) {
  .recipes-container .my-recipes button, .recipes-container .community-recipes button {
    font-size: 5vw;
  }
}
@media (max-width: 600px) {
  .recipes-container .my-recipes button, .recipes-container .community-recipes button {
    font-size: 7vw;
  }
}
.recipes-container .card-container {
  display: grid;
  grid-template-rows: repeat(2, inherit);
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  background-color: #FFEABC;
  width: 100%;
}
@media (max-width: 1250px) {
  .recipes-container .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .recipes-container .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.recipes-container h2 {
  color: #3D5F82;
  font-family: "Charm", cursive;
  font-size: 1.9vw;
  margin: 20px;
}
@media (max-width: 1250px) {
  .recipes-container h2 {
    font-size: 5vw;
  }
}
@media (max-width: 600px) {
  .recipes-container h2 {
    font-size: 7vw;
  }
}

.card-style-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card-style-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}
.card-style-container img {
  width: 100%;
}
.card-style-container h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.4vw;
  margin: 30px 0;
}
@media (max-width: 1250px) {
  .card-style-container h3 {
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  .card-style-container h3 {
    font-size: 7vw;
  }
}
.card-style-container p {
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  font-size: 0.9vw;
}
@media (max-width: 1250px) {
  .card-style-container p {
    font-size: 2vw;
  }
}
@media (max-width: 600px) {
  .card-style-container p {
    font-size: 4vw;
  }
}

.recipe-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFEABC;
}
.recipe-page-container .ingredient-modal[open] {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.recipe-page-container .ingredient-modal[open] .modal-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: "Lato", sans-serif;
}
@media (max-width: 1250px) {
  .recipe-page-container .ingredient-modal[open] .modal-container {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .ingredient-modal[open] .modal-container {
    width: 90%;
  }
}
.recipe-page-container .ingredient-modal[open] .modal-container h3 {
  font-size: 1.5vw;
}
@media (max-width: 1250px) {
  .recipe-page-container .ingredient-modal[open] .modal-container h3 {
    font-size: 5.5vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .ingredient-modal[open] .modal-container h3 {
    font-size: 6vw;
  }
}
.recipe-page-container .ingredient-modal[open] .modal-container .modal-inputs {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.recipe-page-container .ingredient-modal[open] .modal-container .modal-inputs input {
  text-align: center;
  font-size: 1.2vw;
  padding: 3px;
}
@media (max-width: 1250px) {
  .recipe-page-container .ingredient-modal[open] .modal-container .modal-inputs input {
    font-size: 4vw;
    width: 45%;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .ingredient-modal[open] .modal-container .modal-inputs input {
    font-size: 5vw;
    width: 45%;
  }
}
.recipe-page-container .ingredient-modal[open] .modal-container .modal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.recipe-page-container .ingredient-modal[open] .modal-container .modal-buttons button {
  padding: 8px 50px;
  background-color: #3D5F82;
  color: white;
  font-size: 1.2vw;
  border: none;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .recipe-page-container .ingredient-modal[open] .modal-container .modal-buttons button {
    font-size: 4vw;
    padding: 6px 45px;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .ingredient-modal[open] .modal-container .modal-buttons button {
    font-size: 5vw;
    padding: 4px 25px;
  }
}
.recipe-page-container .page-actions {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.recipe-page-container .page-actions button {
  padding: 8px;
  background-color: #3D5F82;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.4vw;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.recipe-page-container .page-actions button:hover {
  transform: scale(1.1);
}
@media (max-width: 1250px) {
  .recipe-page-container .page-actions button {
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .page-actions button {
    font-size: 4vw;
  }
}
.recipe-page-container .meal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info {
    font-size: 7vw;
  }
}
.recipe-page-container .meal-info .image-container {
  text-align: center;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-page-container .meal-info .image-container img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .image-container img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .image-container img {
    height: 300px;
    width: 300px;
  }
}
.recipe-page-container .meal-info .image-container .image-upload {
  padding: 0.4vw;
  color: white;
  background-color: #3D5F82;
  font-size: 1vw;
  cursor: pointer;
  margin-top: 10px;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .image-container .image-upload {
    padding: 0.9vw;
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .image-container .image-upload {
    padding: 1vw;
    font-size: 4vw;
  }
}
.recipe-page-container .meal-info .image-container p {
  font-size: 1.3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 7px;
  background-color: white;
  width: 100%;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .image-container p {
    font-size: 3vw;
  }
  .recipe-page-container .meal-info .image-container p svg {
    width: 3vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .image-container p {
    font-size: 5vw;
  }
  .recipe-page-container .meal-info .image-container p svg {
    width: 5vw;
  }
}
.recipe-page-container .meal-info .ingredients {
  margin-top: 30px;
  width: 25%;
  text-align: center;
  font-family: "Lato", sans-serif;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .ingredients {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .ingredients {
    font-size: 7vw;
  }
}
.recipe-page-container .meal-info .ingredients .delete-ingredient {
  background-color: rgba(0, 0, 0, 0);
  color: red;
}
.recipe-page-container .meal-info .ingredients button {
  padding: 8px;
  background-color: #3D5F82;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.4vw;
  border: none;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .ingredients button {
    font-size: 3vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .ingredients button {
    font-size: 4vw;
  }
}
.recipe-page-container .meal-info .ingredients input {
  border: none;
  width: 100%;
  padding: 8px;
  font-size: 1.4vw;
  text-align: center;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .ingredients input {
    width: 50%;
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .ingredients input {
    font-size: 6vw;
    width: 80%;
  }
}
.recipe-page-container .meal-info .ingredients h2 {
  color: #3D5F82;
  font-size: 3vw;
  justify-self: flex-start;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .ingredients h2 {
    font-size: 5vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .ingredients h2 {
    font-size: 6vw;
  }
}
.recipe-page-container .meal-info .ingredients h3 {
  margin: 20px;
  color: black;
  font-size: 2vw;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .ingredients h3 {
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .ingredients h3 {
    font-size: 5vw;
  }
}
.recipe-page-container .meal-info .ingredients li {
  color: black;
  font-size: 1.5vw;
  margin-bottom: 20px;
}
@media (max-width: 1250px) {
  .recipe-page-container .meal-info .ingredients li {
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .meal-info .ingredients li {
    font-size: 5vw;
  }
}
.recipe-page-container .directions {
  text-align: center;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-page-container .directions textarea {
  resize: none;
  font-size: 1vw;
  padding: 10px;
}
@media (max-width: 1250px) {
  .recipe-page-container .directions textarea {
    font-size: 3vw;
    max-width: 80vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .directions textarea {
    font-size: 4vw;
    max-width: 80vw;
  }
}
.recipe-page-container .directions h3 {
  color: #3D5F82;
  font-size: 2vw;
  margin: 20px;
}
@media (max-width: 1250px) {
  .recipe-page-container .directions h3 {
    font-size: 5vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .directions h3 {
    font-size: 6vw;
  }
}
.recipe-page-container .directions p {
  width: 80%;
  font-size: 1.5vw;
  line-height: 1.5;
  padding-bottom: 30px;
}
@media (max-width: 1250px) {
  .recipe-page-container .directions p {
    font-size: 5vw;
  }
}
@media (max-width: 600px) {
  .recipe-page-container .directions p {
    font-size: 6vw;
  }
}

footer {
  background-color: #FFEABC;
  text-align: center;
  color: #3D5F82;
  font-size: 1.3vw;
  padding: 20px;
}
@media (max-width: 1250px) {
  footer {
    font-size: 4vw;
  }
}
@media (max-width: 600px) {
  footer {
    font-size: 6vw;
  }
}

/*# sourceMappingURL=index.css.map */
